.denglu {
	font-family: "宋体";
	font-size: 14px;
	color: #5e1a00;
	line-height:30px;
}
.song13 {
	font-family: "宋体";
	font-size: 13px;
	color: #4c4c4c;
	text-align: left;
}
.Dsong12 {
	font-family: "宋体";
	font-size: 12px;
	color: #5e1a00;
	text-align: left;
}
